:root{
    background: cornflowerblue;
}

.encabezado{
    background: red;
    display: flex;
    flex-direction: row;
}

.botones{
    display: flex;
    justify-content: end;
    width: -webkit-fill-available;
    align-items: center;
}

.ofertas{
    border: none;
    border-radius: 0px 0px 30px 30px;
}

.ofertas:hover{
    background: rgb(27, 91, 92);
    color: black;
    transition: all 0.3s ease-in-out;
}

.productos{
    display: grid;
    height: 300px;
    grid-template-columns: repeat(3, 1fr); ;
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: rgb(13, 54, 54);
    background-image: url('./imagenes/alkosto-logo-header.svg');
    background-size: cover;
}


@media (max-width: 600px) {
    .encabezado{
        flex-direction: column;
        background: rgb(239, 28, 218);
    }
    .botones{
        width: 100%;
        justify-content: center;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .encabezado{
        flex-direction: column;
        background: rgb(31, 239, 28);
    }
    .botones{
        width: 100%;
        justify-content: center;
    }
}